@model LoginViewModel
@{
    ViewData["Title"] = "Sign In";
}


<div class="d-flex justify-content-center home">
    <div class="text-center mt-5 bg-black  w-25  ">
        <p class="text-danger text-center fs-3 fw-bold font-monospace typewriter7">Welcome to ITI</p>

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="UserName" placeholder="Enter Username" class="font-monospace text-center" />
            <div><span asp-validation-for="UserName" class="text-danger"></span></div>
            <br />
            <input asp-for="Password" placeholder="Enter Password" class="font-monospace text-center" />
            <div><span asp-validation-for="Password" class="text-danger"></span></div>
            <br>

            <input type="submit" value="Sign In"  class="btn btn-outline-danger mb-3 font-monospace"/>
        </form>

    </div>

</div>

