<div class="d-flex justify-content-center home">
    <div class="text-center mt-5 bg-black w-25  ">
        <p class="text-danger text-center fs-3 fw-bold">Roles Selection</p>

        <form asp-action="GetUsers" asp-controller="Manage">

            <select asp-items="ViewBag.Roles" name="roleid" class="mb-3">

                <option disabled>Select Role</option>
            </select>
            <input type="submit" value="Get Users" class="mb-3 ms-2 btn btn-outline-danger " />
            <a asp-controller="Home" asp-action="index" class="btn btn-outline-danger mb-3">Back</a>

        </form>

    </div>

</div>
