@{
    ViewData["Title"] = "Information Technology Institute";
}

<div class=" home">
    @if (User.IsInRole("Admin"))
    {
        <div class="display-5 fw-bold text-white-50 col-5 font-monospace bg-black width  div-height ">
            <div class="typewriter mb-3 text-center">
                Welcome To
            </div>
            <div class="text-danger typewriter2 mb-3 text-center">
                Information
            </div>
            <div class="text-danger typewriter3 mb-3 text-center">
                Technology
            </div>
            <div class="text-danger typewriter4 mb-3 text-center">
                Institute
            </div>

            <div class="buttons-left-margin">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="index" asp-controller="Student" class="btn btn-outline-danger fw-bold  mt-2">Students List</a>

                    <a asp-action="showInstructors" asp-controller="Student" class="btn btn-outline-danger fw-bold negative-margin mt-2">Instructors List</a>
                    <br />
                    <a asp-action="GetRoles" asp-controller="Manage" class="btn btn-outline-danger fw-bold left-marg">Change Roles</a>
                }

            </div>
        </div>
    }
    else
    {
        <div class="display-5 fw-bold text-white-50 font-monospace bg-black width-student  div-height-Student ">
            <div class="typewriter mb-3 text-center">
                Welcome To
            </div>
            <div class="text-danger typewriter2 mb-3 text-center">
                Information
            </div>
            <div class="text-danger typewriter3 mb-3 text-center">
                Technology
            </div>
            <div class="text-danger typewriter4 mb-3 text-center">
                Institute
            </div>

            <div class="buttons-left-margin-student">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="index" asp-controller="Student" class="btn btn-outline-danger fw-bold  mt-2">Students List</a>
                }

            </div>
        </div>

    }


</div>
